<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="span4" style="margin-bottom: 1em; text-align:right;">
    <%= f.label :title %>   
  </div>
  <div class="span5" style="margin-bottom: 1em;">
    <%= f.text_field :title %>
  </div>
</div>

<div class="row">
  <div class="span4" style="margin-bottom: 1em; text-align:right;">
    <%= f.label :description %>    
  </div>
  <div class="span5" style="margin-bottom: 1em;">
    <%= f.text_field :description %>
  </div>
</div>

<div class="row">
  <div class="span4" style="margin-bottom: 1em; text-align:right;">
    <%= f.label :location %>    
  </div>
  <div class="span5" style="margin-bottom: 1em;">
    <%= f.text_field :location %>
  </div>
</div>

<div class="row">
  <div class="span4" style="margin-bottom: 1em; text-align:right;">
    <%= f.label :starttime %>   
  </div>
  <div class="span5" style="margin-bottom: 1em;">
    <%= f.datetime_select :starttime %>
  </div>
</div>

<div class="row">
  <div class="span4" style="margin-bottom: 1em; text-align:right;">
    <%= f.label :endtime %>   
  </div>
  <div class="span5" style="margin-bottom: 1em;">
    <%= f.datetime_select :endtime %>
  </div>
</div>

  <div class="actions span5 offset4" style="margin-top: 1em;">
    <%= f.submit %>
  </div>
<% end %>


