<h1>Listing Events</h1>

<%= link_to 'New Event', new_event_path %>


<% @events.each do |event| %>
<div class="span3 event-thmbnl">
  <div class="title-evnt"><%= event.title %></div>
  <div class="details">organizer</div>
  <div class="description"><%= event.description %></div>
  <div class="details"><%= event.location %></div>
  <div class="details"><%= event.starttime %></div>
  <div class="needs">Volunteers needed: 5</div>
  <%= link_to 'Show', event %> |
  <% if event.validate_edit_access(current_user) %>
    <%= link_to 'Edit', edit_event_path(event) %> |
    <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>
<% end %>
