<div id="event">
  <div class="row">
    <div class="span8">
      <div class="title">
        <%= @event.title %>
      </div>
      <div class="description">
        <%= @event.description %>
      </div>

      

<% if !user_signed_in? %>
  <div class="bar">
    <h1>Sign Up!</h1>
  </div>
  
  <%= form_for(:user, :url => registration_path(:user), :html => { :id => "user_reg_embedded" } ) do |f| %>
    
    <div class="row">
      <div class="span3">
        <div class="form-label"><%= f.label :name %></div>      
      </div>
      <div class="span5">
        <div><%= f.text_field :name %></div>
      </div>
    </div>
    <div class="row">
      <div class="span3">
        <div class="form-label"><%= f.label :email %></div>      
      </div>
      <div class="span5">
        <div><%= f.email_field :email %></div>
      </div>
    </div>
    <div class="row">
      <div class="span3">
        <div class="form-label"><%= f.label "Phone Number (opt.)" %></div>      
      </div>
      <div class="span5">
        <div><%= f.telephone_field :phone %></div>
      </div>
    </div>
    <div class="row">
      <div class="span3">
        <div class="form-label"><%= f.label :password %></div>      
      </div>
      <div class="span5">
        <div><%= f.password_field :password %></div>
      </div>
    </div>
    <div class="row">
      <div class="span3">
        <div class="form-label"><%= f.label :password_confirmation %></div>      
      </div>
      <div class="span5">
        <div><%= f.password_field :password_confirmation %></div>
      </div>
    </div>
    <div class="row">
      <div class="span5 offset3" style="margin-top: 1em;">
        <%= f.submit "Sign up" %>
      </div>
    </div>
    
  <% end %>
<% end %>



     

      <div class="row">
        <div class="span4">
          <div class="bar">
            <h1>Project needs:</h1>
          </div>
        </div>
        <div class="span4">
          <div class="bar">
            <h1>I can give:</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="span4">
      <div id="time-place">
        <div class="map">
          Map
        </div>
        
          <div class="small-title">
            address:
          </div>
          <div class="content">
            <%= @event.location %>
          </div>
          <div class="small-title">
            start:
          </div>
          <div class="content">
            <%= @event.starttime %>
          </div>
          <div class="small-title">
            end:
          </div>
          <div class="content">
            <%= @event.endtime %>
          </div>
          <hr>
          <div class="small-title">
            organizer:
          </div>
          <div class="content">
            <%= @event.organizer.name %>
          </div>
          <div class="small-title">
            email:
          </div>
          <div class="content">
            <%= @event.organizer.email %>
          </div>
          <% @phone = @event.organizer.phone %>
          <% if @phone != nil %>
            <div class="small-title">
              phone:
            </div>
            <div class="content">
              <%= @phone %>
            </div>
          <% end %>

   

      </div>
    </div>

  </div>


      <%= link_to 'Edit', edit_event_path(@event) %> |
      <%= link_to 'Back', events_path %>
</div>
