<div id="event">
  <div class="row">
    <div class="span8">
      <div class="title">
        <%= @event.title %>
      </div>
      <div class="description">
        <%= @event.description %>
      </div>

      <div class="bar">

<% if !user_signed_in? %>
  <h1>Sign Up!</h1>
  <%= form_for(:user, :url => registration_path(:user), :html => { :id => "user_reg_embedded" } ) do |f| %>

    <div><%= f.label :email %><br />
    <%= f.email_field :email %></div>

    <div><%= f.label :name %><br />
    <%= f.text_field :name %></div>

    <div><%= f.label "Phone number (optional)" %><br />
    <%= f.telephone_field :phone %></div>

    <div><%= f.label :password %><br />
    <%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %></div>

    <div><%= f.submit "Sign up" %></div>
  <% end %>
<% end %>

      </div>

      <div>
        <h1>my name:</h1>
      </div>

      <div class="row">
        <div class="span4">
          <div class="bar">
            <h1>Project needs:</h1>
          </div>
        </div>
        <div class="span4">
          <div class="bar">
            <h1>I can give:</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="span4">
      <div id="time-place">
        <div class="map">
          Map
        </div>
        
          <div class="small-title">
            address:
          </div>
          <div class="content">
            <%= @event.location %>
          </div>
          <div class="small-title">
            start:
          </div>
          <div class="content">
            <%= @event.starttime %>
          </div>
          <div class="small-title">
            end:
          </div>
          <div class="content">
            <%= @event.endtime %>
          </div>
          <hr>
          <div class="small-title">
            organizer:
          </div>
          <div class="content">
            <%= @event.organizer.name %>
          </div>
          <div class="small-title">
            email:
          </div>
          <div class="content">
            <%= @event.organizer.email %>
          </div>
          <% @phone = @event.organizer.phone %>
          <% if @phone != nil %>
            <div class="small-title">
              phone:
            </div>
            <div class="content">
              <%= @phone %>
            </div>
          <% end %>

   

      </div>
    </div>

  </div>


      <%= link_to 'Edit', edit_event_path(@event) %> |
      <%= link_to 'Back', events_path %>
</div>
