<p id="notice"><%= notice %></p>

<div id="event">
  <div class="row">
    <div class="span8">
      <div class="title">
        <%= @event.title %>
      </div>
      <div class="description">
        <%= @event.description %>
      </div>
    </div>

    <div class="span4">
      <div style="background:red;">
        
        <div>
          <strong>Location:</strong>
          <%= @event.location %>
        </div>

        <div>
          <strong>Starttime:</strong>
          <%= @event.starttime %>
        </div>

        <div>
          <strong>Endtime:</strong>
          <%= @event.endtime %>
        </div>

      </div>
    </div>

  </div>


      <%= link_to 'Edit', edit_event_path(@event) %> |
      <%= link_to 'Back', events_path %>
</div>